.actCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 45px;
}

.actCarditem {
  width: 48%; /* Adjust width as needed */
  margin: 25px 0; /* Adjust margin as needed */
}

.actCarditem p {
  margin: 0;
}

.actCarditem img {
  width: 20px;
  height: 20px;
}
